article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

body {
  text-align: center;
  background: #ccd7e4;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain; }

.wrapper {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0; }

input {
  font-family: 'Amatic SC', cursive;
  border-radius: 5px;
  border: 1px dotted black;
  font-size: 16px;
  padding: 5px; }

li, button, h1, p {
  color: #33354d; }

ul {
  display: flex;
  flex-direction: column; }

li {
  font-weight: bolder;
  font-size: 26px;
  display: flex;
  align-items: center; }

li::before {
  content: " - "; }

h1 {
  font-family: 'Special Elite', cursive;
  font-weight: lighter;
  font-size: 40px;
  color: #33354d;
  margin: 10px; }

h2 {
  font-family: 'Special Elite', cursive;
  font-weight: lighter;
  color: #33354d; }

.header {
  display: flex;
  justify-content: center; }

.titlemonster0 {
  height: 15px;
  margin: 0 0 10px; }

.titlemonster1 {
  height: 25px;
  opacity: .9;
  margin: 10px 10px 0; }

.titlemonster2 {
  height: 30px;
  margin: 20px 5x 2px;
  padding: 10px o o; }

.smallmonster {
  height: 10px;
  margin: 10px; }

button {
  background: #dde4ed;
  border-radius: 5px;
  padding: 0;
  margin: 10px;
  border: 1px dashed black;
  font-family: 'Special Elite', cursive; }
  button p {
    font-size: 16px;
    font-weight: normal;
    padding: 10px 10px; }

.stapleform, .todoform {
  display: flex;
  align-items: center; }
  .stapleform input, .todoform input {
    height: 45px;
    font-size: 20px; }

.stapleformlist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .stapleformlist li {
    display: flex;
    justify-content: flex-start; }

.staplebutton, .todobutton {
  display: flex;
  flex-direction: row-reverse;
  padding: 0; }

.listicon {
  height: 55px; }

.stapleicon {
  height: 55px; }

.listicon, .stapleicon {
  margin: 15px 0 15px; }

.todolist, .staplelist {
  display: flex;
  justify-content: center;
  align-content: center; }

.trashicon {
  padding: 0; }

.trashbutton, .movebutton, .strikebutton {
  height: 30px; }

.trashbuttonoutline::hover {
  border: 2px solid #33354d; }

.strikebutton {
  background-image: url("/dev/styles/assets/check2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px; }

.trashbutton {
  background-image: url("/dev/styles/assets/smileytrash.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px; }
  .trashbutton p {
    padding: 0 10px;
    margin: 0; }

.movebutton {
  background-image: url("/dev/styles/assets/moveicon2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  width: 35px;
  display: flex; }

.masterlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.strikebutton {
  padding: 0 10px; }
  .strikebutton p {
    padding: 0;
    margin: 0; }

